[submodule "client/src/external/react-uikit"]
	path = client/src/external/react-uikit
	url = https://github.com/StevenVerheyen/react-uikit.git
[submodule "client/src/external/requesty"]
	path = client/src/external/requesty
	url = https://github.com/StevenVerheyen/requesty.git
